variables:
  DOCKER_IMAGE_TAG: $CI_PIPELINE_IID
  DOCKER_IMAGE_NAME: $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_SLUG

stages:
  - build
  - deploy
  - integration-test
  - load-test
  - tag

build:image:dev:
  stage: build
  tags:
    - shell-build-runer
  rules:
    - if: $CI_COMMIT_REF_NAME == "dev" && $CI_PIPELINE_SOURCE != "merge_request_event"
      when: on_success
    - when: never
  before_script:
    - docker login -u $CI_REGISTRY_USER_MAIN -p $CI_ACCESS_TOKEN $CI_REGISTRY
  script:
    - docker build -t $DOCKER_IMAGE_NAME:$DOCKER_IMAGE_TAG .
    - docker push $DOCKER_IMAGE_NAME:$DOCKER_IMAGE_TAG

deploy:image:dev:
  stage: deploy
  tags:
    - shell-runer
  variables:
    PROJ: pepeunit-backend-dev
  rules:
    - if: $CI_COMMIT_REF_NAME == "dev" && $CI_PIPELINE_SOURCE != "merge_request_event"
      when: on_success
    - when: never
  before_script:
    - echo $USER
    - echo $PROJ
    - docker login -u $CI_REGISTRY_USER_MAIN -p $CI_ACCESS_TOKEN $CI_REGISTRY
  script:
    - docker pull $DOCKER_IMAGE_NAME:$DOCKER_IMAGE_TAG
    - docker stop $PROJ || echo $?
    - docker rm $PROJ || echo $?
    - docker run -d --name=$PROJ -p 5401:5000 --restart=always -v /root/pepeunit/repo_cache:/app/repo_cache --env-file $ENV_FILE $DOCKER_IMAGE_NAME:$DOCKER_IMAGE_TAG
    - docker system prune -a -f

integration_test:image:dev:
  stage: integration-test
  tags:
    - shell-build-runer
  variables:
    PROJ: pepeunit-backend-dev
  rules:
    - if: $CI_COMMIT_REF_NAME == "dev" && $CI_PIPELINE_SOURCE != "merge_request_event"
      when: on_success
    - when: never
  before_script:
    - echo "Waiting for the backend to be responsive..."
    - echo "Loading environment variables from $ENV_FILE"
    - export BACKEND_DOMAIN=$(grep '^BACKEND_DOMAIN=' .env | cut -d '=' -f2)
  script:
    - |
      for i in {1..30}; do
        if curl -s -o /dev/null -w "%{http_code}" https://$BACKEND_DOMAIN/pepeunit | grep -q "200"; then
          echo "Backend is responsive, continuing..."
          break
        else
          echo "Waiting for backend to respond..."
          sleep 1
        fi
      done
    - sleep 10
    - docker build -f DockerfileLoad -t pepeunit-integra-test .
    - docker run --rm --env-file $ENV_FILE pepeunit-integra-test pytest tests -v
    - docker container prune -f
    - docker rmi $(docker images -f "dangling=true" -q)

load_test:image:dev:
  stage: load-test
  tags:
    - shell-build-runer
  variables:
    PROJ: pepeunit-backend-dev
  rules:
    - if: $CI_COMMIT_REF_NAME == "dev" && $CI_PIPELINE_SOURCE != "merge_request_event"
      when: on_success
    - when: never
  before_script:
    - echo "Waiting for the backend to be responsive..."
    - echo "Loading environment variables from $ENV_FILE"
    - export BACKEND_DOMAIN=$(grep '^BACKEND_DOMAIN=' .env | cut -d '=' -f2)
  script:
    - |
      for i in {1..30}; do
        if curl -s -o /dev/null -w "%{http_code}" https://$BACKEND_DOMAIN/pepeunit | grep -q "200"; then
          echo "Backend is responsive, continuing..."
          break
        else
          echo "Waiting for backend to respond..."
          sleep 1
        fi
      done
    - sleep 10
    - docker build -f DockerfileLoad -t pepeunit-load-test .
    - docker run --rm --env-file $ENV_FILE pepeunit-load-test pytest tests -v
    - docker run --rm --env-file $ENV_FILE pepeunit-load-test python -m tests.load.load_test_mqtt
    - docker run --rm --env-file $ENV_FILE pepeunit-load-test locust -f tests/load/locustfile.py
    - docker container prune -f
    - docker rmi $(docker images -f "dangling=true" -q)

build:image:release:
  stage: build
  tags:
    - shell-build-runer
  rules:
    - if: $CI_COMMIT_REF_NAME == "release" && $CI_PIPELINE_SOURCE != "merge_request_event"
      when: on_success
    - when: never
  before_script:
    - docker login -u $CI_REGISTRY_USER_MAIN -p $CI_ACCESS_TOKEN $CI_REGISTRY
  script:
    - docker build -t $DOCKER_IMAGE_NAME:$DOCKER_IMAGE_TAG .
    - docker push $DOCKER_IMAGE_NAME:$DOCKER_IMAGE_TAG

deploy:image:release:
  stage: deploy
  tags:
    - shell-runer
  variables:
    PROJ: pepeunit-backend-release
  rules:
    - if: $CI_COMMIT_REF_NAME == "release" && $CI_PIPELINE_SOURCE != "merge_request_event"
      when: on_success
    - when: never
  before_script:
    - echo $USER
    - echo $PROJ
    - docker login -u $CI_REGISTRY_USER_MAIN -p $CI_ACCESS_TOKEN $CI_REGISTRY
  script:
    - docker pull $DOCKER_IMAGE_NAME:$DOCKER_IMAGE_TAG
    - docker stop $PROJ || echo $?
    - docker rm $PROJ || echo $?
    - docker run -d --name=$PROJ -p 5402:5000 --restart=always -v /root/pepeunit/release/repo_cache:/app/repo_cache --env-file $ENV_FILE_RELEASE $DOCKER_IMAGE_NAME:$DOCKER_IMAGE_TAG
    - docker system prune -a -f

tag:
  stage: tag
  tags:
    - shell-main-pc
  rules:
    - if: $CI_COMMIT_TAG
      when: on_success
  script:
    - docker build -t w7a8n1y4a/pepeunit-backend:$CI_COMMIT_TAG .
    - docker push w7a8n1y4a/pepeunit-backend:$CI_COMMIT_TAG
    - 'curl --request POST "https://git.pepemoss.com/api/v4/projects/${CI_PROJECT_ID}/releases" --header "PRIVATE-TOKEN: $CI_ACCESS_TOKEN" --data "name=Release Tag - $CI_COMMIT_TAG" --data "tag_name=$CI_COMMIT_TAG" --data "description=All builds on [Docker Hub](https://hub.docker.com/r/w7a8n1y4a/pepeunit-backend/tags) - $CI_COMMIT_TAG"'
