repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
#    -   id: check-yaml
#    -   id: end-of-file-fixer
#    -   id: trailing-whitespace
    - id: check-merge-conflict
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.13.2
    hooks:
    -   id: ruff
        args: [--fix]
    -   id: ruff-format
-   repo: local
    hooks:
    -   id: test-module
        name: test-module
        entry: make test-module
        language: system
        types: [python]
        pass_filenames: false